.counter {
  display: flex;
  width: 100%;
  background: black;
  color: white;
  font-size: 100px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;  
}

.counter div {
  margin: 5px;
  background: #111;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.clock {
  background: #111;  
}